body {
    background: #FFFFFF;
    font-family: 'Inter', sans-serif;
}
.header {
    height: 12vh;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 3px 3px 0px #bbb;
    align-items: center;
}
.header__logo {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.header__name {
    font-size:3rem;
    font-weight: bolder;
    margin:0px;
}
.header__img {
    width: 2em;  
}
.header__points {
    color: #FDCB6E;
}
.header__nav {
    width: 31.25rem;
    display: flex;
    justify-content: space-between;
}
.nav {
    font-size: 1.1rem;
    color: #6C5CE7;
    text-decoration: none;
}
.nav:hover {
    color: black;
}
.header__points {
    font-size: 1.1rem;
}
.header__button a{
    padding: 0.625rem 1.5rem;
    border-radius: 999px;
    border: none; 
    background: #6C5CE7;
    text-decoration: none;
    color:white;
    font-weight: bold; 
    font-size: 1.5rem;
}
.header__button:hover a {
    background: white;
    color: #6C5CE7;
    transition: .35s;
}
@media only screen and (max-width: 950px) {
    .nav {font-size: 0.8rem} 
}